.profile {
    display: flex;
    margin: 0 auto;
    width: 400px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    text-align: center;
    background-color: teal;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
}

.description {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
}

.stats {
    display: flex;
    font-size: 16px;
    width: 300px;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(17, 164, 169);
    font-style: italic;
}

.stats > li {
    border-top: 1px solid rgb(194, 231, 232);
}