.transactionHistory {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 30px;
    background-color: teal;
    border: 1px solid yellowgreen;
    border-radius: 5px;
}

tr {
    text-align: center;
    line-height: 20px;
}